# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Usuario\Documents\INGENIERIA DE SITEMAS\Semestre UCB\Taller de desarrollo del software\Proyecto\Facemask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
